<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud (dataForCloud)">
    <!--/*@thymesVar id="tagDto" type="com.example.bookshopapp.data.dto.TagDto"*/-->
    <div class="Tag" th:each="tagDto : ${dataForCloud}">
        <a href="/tags/index.html" th:text="${tagDto.tag.name}" th:href="'/books/tag/' + ${tagDto.tag.id}"
           th:style="'font-size:' + ${tagDto.amount > 40 ? 40 : (tagDto.amount < 15 ? 15 : tagDto.amount)} +'px'" >
            современная литература
        </a>
    </div>
</div>
</html>